.App {
  margin-top: 1.2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.profile-and-name{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card{
  height: fit-content;
  background-color: wheat;
  border-radius: 5px;
  border-color: 2px #000 solid;
  padding: 10px 4px;
  margin-top: 10px;
  
}

.container{
  justify-content: "center";
  align-self: center;
  width: 450px;
  margin-bottom: 5px;
}

.img-size{
  border-radius: 50px;
   width: 60px;
   height: 60px;
}


.card>p:has("e"){
  color: blueviolet;
}
